<!-- estructura basica de html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interdata acortador de URL</title>
</head>
    <body>
        <h1>Nuestro primer acortador</h1>

        <form action="/" method="POST">
            <input type="text" name="url">
            <button>Acortar</button>
        </form>

        <br>
        <br>

        <div id="url-acortado">
            <!-- url acortado -->
            {% if hash %}
                {{ hash }}
            {% endif %}    
        </div>

        <br><br>
        
        <!-- codigo qr -->
        {% if hash %}
            <img src="{{ qrimage }}" />
        {% endif %} 
    </body>
</html>



